<?xml version="1.0"?>
<config>
    <modules>
        <Hellux_Gallery>
            <version>0.1.0</version>
        </Hellux_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Hellux_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
        <layout>
            <updates>
                <gallery>
                    <file>hellux_gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <hellux_gallery>
                <class>Hellux_Gallery_Model</class>
                <resourceModel>hellux_gallery_resource</resourceModel>
            </hellux_gallery>
            <hellux_gallery_resource>
                <class>Hellux_Gallery_Model_Resource</class>
                <entities>
                    <category>
                        <table>hellux_gallery_category</table>
                    </category>
                    <image>
                        <table>hellux_gallery_image</table>
                    </image>
                </entities>
            </hellux_gallery_resource>
        </models>
        <blocks>
            <hellux_gallery>
                <class>Hellux_Gallery_Block</class>
            </hellux_gallery>
        </blocks>
        <helpers>
            <hellux_gallery>
                <class>Hellux_Gallery_Helper</class>
            </hellux_gallery>
        </helpers>
        <resources>
            <hellux_gallery_setup>
                <setup>
                    <module>Hellux_Gallery</module>
                </setup>
            </hellux_gallery_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hellux_Gallery before="Mage_Adminhtml">Hellux_Gallery_Adminhtml</Hellux_Gallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>